body{
  background-color: #d5d6cf;
  padding-top: 70px;
  margin-bottom: 30px;
}

.navbar-custom {
  padding: 10px 20px;
  background-color: #d9a29d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
}

.container {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  width: calc(100% / 3 - 20px);
  height: 350px;
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 15%;
}

.image-container img:hover {
  filter: blur(3px);
}

.image-grid.hidden {
  visibility: hidden;
}

.image-grid {
  
  position: relative;
  width: auto;
  margin: 0 auto;
}

.image-container1 {
  position: absolute;
  width: 350px;
}

.image-container1 img {
  width: 100%;
  height: auto;
  border-radius: 8%;
}

.image-container1 img:hover {
  filter: blur(3px);
}

.image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.navbar .btn {
  margin-left: 10px;
}

.modal-header {
  background-color: #faf8f8;
  border-bottom: 1px solid #dee2e6;
}
.modal-title {
  color: #343a40;
}

.center-title {
  text-align: center;
}

.image-detail{
  justify-content: center;
  text-align: center;
  
}

.image-detail img {
  border-radius: 12%;
}

.profile_pic_nav{
  text-decoration: none;
}

.profile_pic_nav img {
  border-radius: 50%;
  object-fit: cover;
}

.profile_pic{
  justify-content: center;
}

.profile_pic img{
  object-fit: cover;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.profile-container{
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.comments-section img{
  object-fit: cover;
  border-radius: 50%;
}

.card{
  justify-content: center;
  text-align: center;
  
}

.card img{
  object-fit: cover;
  justify-content: center;
}

.coly{
  justify-content: center;
}

.image-container2 {
  
  position: absolute;
  width: 350px;
}

.image-container2 img {
  width: 100%;
  height: auto;
}

.dodaj_padding{
  padding-bottom: 5px;
  padding-top: 5px;
}

.desno{
  margin-right: 14px;
}

.add-image-btn {
    margin-left: 12px;
}

.comment-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.dolje {

  padding-bottom: 10px;
}
